.page.theme_light {
  --bck-image: url(../images/cover-image-light.png);
  --bck-color: #fff0f5;
  --accent-color: #ff8dcb;
  --main-title-color: #353430;
  --decor-color: #353430;
  --hover-color: 50, 49, 45;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --paragraph-title-color: #353430;
}

.page.theme_light .decorated-zone--item::before,
.page.theme_light .decorated-zone--item::after {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {

  .page {
    --bck-image: url(../images/cover-image-light.png);
    --bck-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --main-title-color: #353430;
    --decor-color: #353430;
    --hover-color: 50, 49, 45;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --paragraph-title-color: #353430;
  }

  .page.theme_light .decorated-zone--item::before,
  .page.theme_light .decorated-zone--item::after {
    visibility: hidden;
  }
} 

